{% extends 'base.html.twig' %}

{% block title %}Bee Digital !{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center msg-success" role="alert" >
            {{ message }}
        </div>
    {% endfor %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger text-center msg-success" role="alert" >
            Une erreur s'est produite, veuillez réessayer
        </div>
    {% endif %}
    <div class="banniere">
        <img src=" {{ asset('/images/beedigitalcover.jpeg') }} " alt="la banierre">  
    </div>
    <!-- Fin du section banniere -->
    <!-- Section services-->
    <div class="container mt-3 mb-5 text-center services " id="services">
        <h1 class="mt-3 mb-2">Nos services</h1>
        <p class="text-muted text-lead">
            Notre structure Bee Digital s’engage à vous offrir ses services pour vous aider à vous adapter aux changements pour
            rester compétitif ou de faire évoluer votre activité digitale..
        </p>
        <div class="col-md-10 mx-auto">
            <div class="row ">
                <div class="col-md-4 text-center titre reveal ">
                    <span class="fa-stack fa-4x reveal-1 ">
                        <i class="fas fa-circle fa-stack-2x "></i>
                        <i class=" fas fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3 text-muted reveal-2">Web et Mobile</h4>
                    <p class="text-muted reveal-3">
                        Le site web est la meilleure représentation de votre entreprise en ligne.
                         Il doit donc refléter vos valeurs ainsi que vos compétences.

                        Améliorez l'expérience de vos prospects et clients à 
                        travers des sites web optimisés.

                        Notre équipe d'experts présentent les atouts fonctionnels
                         et techniques pour vous permettre de gagner en temps et d'être plus rentable.
                    </p>
                    <!-- <a href="#" class="btn btn-outline-primary">Lire la suite</a> -->
                </div>
                <div class="col-md-4 text-center titre reveal">
                    <span class="fa-stack fa-4x reveal-1">
                        <i class="fas fa-circle fa-stack-2x "></i>
                        <i class="fas fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3 text-muted reveal-2">Graphique Design</h4>
                    <p class="text-muted reveal-3">
                        Bee Digital est une équipe professionnelle qui conçoit des solutions de communication visuelle. Il
                        travaille sur
                        le sens des messages à l'aide des formes graphiques qu'il utilise sur tout type de supports. Il est
                        alors un
                        médiateur qui agit sur les conditions de réception et d’appropriation des informations et des savoirs
                        qu’il met
                        en forme.

                    </p>
                    
                </div>
                <div class="col-md-4 text-center titre reveal">
                    <span class="fa-stack fa-4x reveal-1">
                        <i class="fas fa-circle fa-stack-2x "></i>
                        <i class="fas fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3 text-muted reveal-2">Maintenance</h4>
                    <p class="text-muted reveal-3">
                        Bee Digital répond à plusieurs objectifs : préserver les performances des matériels et logiciels, mettre
                        à jour
                        le système informatique et bien évidemment corriger les éventuels problèmes du parc informatique. Un
                        plan de
                        maintenance informatique efficace doit ainsi comporter trois volets : la maintenance préventive, la
                        maintenance
                        corrective, et la maintenance évolutive.
                    </p>
                    <!-- <a href="#" class="btn btn-outline-primary">Lire la suite</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Section projest-->
    <div class="container mt-5 mb-5 text-center projet " id="projet">
        <h1 class="mt-5 mb-2 ">Nos projets</h1>
        <div class="row reveal">
            <div class="col-md-4 reveal-1">
                <div class="card mb-4 shadow-sm">
                    <img src=" {{ asset('images/beedigitalpunch2.jpg') }} " class="img-fluid" alt="image Bee digital" width="100%">
                </div>
            </div>
            <div class="col-md-4 reveal-2">
                <div class="card mb-4 shadow-sm">
                    <img src=" {{asset('images/beedigitallogo.jpg')}} " class="img-fluid" alt="image Bee digital" width="100%">
                </div>
            </div>
            <div class="col-md-4 reveal-3">
                <div class="card mb-4 shadow-sm">
                    <img src=" {{asset('images/beedigitalpunch-2.jpg')}} " class="img-fluid" alt="image Bee digital" width="100%" height="100%">
                </div>
            </div>
        </div>
        <div class="row reveal">
            <div class="col-md-4 reveal-1">
                <div class="card mb-4 shadow-sm">
                    <img src=" {{asset('images/beecontact.jpg')}} " class="img-fluid" alt="image Bee digital" width="100%">
                </div>
            </div>
            <div class="col-md-4 reveal-2">
                <div class="card mb-4 shadow-sm">
                    <img src=" {{ asset('images/beedigitalpunch2.jpg') }} " class="img-fluid" alt="image Bee digital" width="100%">
                </div>
            </div>
            <div class="col-md-4 reveal-2">
                <div class="card mb-4 shadow-sm">
                    <img src=" {{ asset('images/beedigitalpunch2.jpg') }} " class="img-fluid" alt="image Bee digital" width="100%">
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Section projest-->

    <!-- Section qui sommes nous-->
    <div class="pb-5" style="background-color: #f8f9fa;">
        <div class="container mt-5 mb-5 text-center qui-sommes-nous " id="qui-sommes-nous">
            <h1 class="mt-5 mb-2 ">Notre équipe</h1>
            <p class="text-lead text-muted">
                Dans le souci de répondre aux nouveaux challenges qui s’imposent aux entreprises dans le milieu du numérique
                particulièrement face aux défis de la transformation digitale,notre structure bee digital s’engage à vous offrir
                ses services pour vous aider à vous adapter aux changements pour rester compétitif ou de faire évoluer votre
                activité digitale.
                Ainsi une équipe composée d’experts fédérant leur savoir-faire dans le numérique vous propose ses services
                dans: <strong>Création site web</strong> - <strong>Création application web et mobile</strong> - <strong>Graphique Design</strong> - <strong>Création des spots publicitaires</strong> - <strong>Maintenance Informatique</strong>
            </p>
            <div class="row text-center ">
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 mx-auto ">
                    <div class="notre-equipe reveal">
                        <img class="mx-auto rounded-circle mt-5 reveal-1" src="images/4.jpg" width="165px" height="165px" alt="" />
                        <h4 class="reveal-2">Mohamadou lamine Dia</h4>
                        <p class="text-muted reveal-3">Developer FrontEnd</p>

                        <a class=" mx-2" href="https://www.linkedin.com/in/mohamadou-lamine-26b80a1a1">
                            <img src=" {{ asset('images/linkedinbeedigital.png') }} " class="reveal-4" alt="Image linkedin">
                        </a>

                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 mx-auto ">
                    <div class="notre-equipe reveal">
                        <img class="mx-auto rounded-circle mt-5 reveal-1" src="images/8.jpg" width="165px" height="165px" alt="" />
                        <h4 class="reveal-2">Malick Diakhaté</h4>
                        <p class="text-muted reveal-3">Designer Web</p>

                        <a class=" mx-2" href="http://linkedin.com/in/malick-diakhate">
                            <img src=" {{ asset('images/linkedinbeedigital.png') }} " class="reveal-4" alt="Image linkedin">
                        </a>

                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 mx-auto ">
                    <div class="notre-equipe reveal">
                        <img class="mx-auto rounded-circle mt-5 reveal-1" src="images/6.jpeg" width="165px" height="165px" alt="" />
                        <h4 class="reveal-2">Amadou Tidjane Ba</h4>
                        <p class="text-muted reveal-3">Developer BackEnd</p>

                        <a class=" mx-2" href="http://www.linkedin.com/in/amadou-tidjane-ba-6267421b8">
                            <img src=" {{ asset('images/linkedinbeedigital.png') }} " class="reveal-4" alt="Image linkedin">
                        </a>

                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 mx-auto ">
                    <div class="notre-equipe reveal">
                        <img class="mx-auto rounded-circle mt-5 reveal-1" src="images/5.jpeg" width="165px" height="165px" alt="" />
                        <h4 class="reveal-2">Abdourahmane Baldé</h4>
                        <p class="text-muted reveal-3">Developer BackEnd</p>

                        <a class=" mx-2" href="https://www.linkedin.com/in/abdourahmane-balde-75b380183/">
                            <img src=" {{ asset('images/linkedinbeedigital.png') }} " class="reveal-4" alt="Image linkedin">
                        </a>

                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 mx-auto  ">
                    <div class="notre-equipe reveal">
                        <img class="mx-auto rounded-circle mt-5 reveal-1" src="images/7.jpg" width="165px" height="165px" alt="" />
                        <h4 class="reveal-2">Cheikh Dieng</h4>
                        <p class="text-muted reveal-3">Informaticien</p>

                        <a class=" mx-2" href="https://www.linkedin.com/in/cheikh-dieng-21b27b173">
                            <img src=" {{ asset('images/linkedinbeedigital.png') }} " class="reveal-4" alt="Image linkedin">
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- FIn Section qui sommes nous-->

    <!-- Section contact-->
    <div class="bloc-contact">
        <div class="container mt-5 mb-5 text-center contact " id="contact">
            <h1 class="mt-3 mb-5 ">Contactez nous !</h1>
            <div class="row align-items-center reveal">
                <div class="col-md-6">
                    <div class="reveal-1">
                        <img src=" {{ asset('images/beecontact.jpg')}} " class="img-fluid" alt="image Bee digital" width="100%">
                    </div>
                </div>
                <div class="col-md-6 form-contact reveal">
                    <h3 class="mt-5 mb-5 contact-h4">Formulaire de contact</h3>
                        
                        {{form_start(form, {attr: {'novalidate': 'novalidate'}})}}
                        <div class="row my-3" >
                            <div class="col-md-12 reveal-4">
                                <label class="sr-only" for="prenom">Prenom</label>
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                                    </div>
                                    {{form_widget(form.prenom)}}
                                </div>
                                <div class="text-left form-error">
                                    {{ form_errors(form.prenom) }}
                                </div>
                            </div>
                        </div>
                        <div class="row my-3" >
                            <div class="col-md-12 reveal-4">
                                <label class="sr-only" for="nom">Nom</label>
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                                    </div>
                                    {{form_widget(form.nom)}}
                                </div>
                                 <div class="text-left form-error">
                                    {{ form_errors(form.nom) }}
                                </div>
                            </div>
                        </div>
                        <div class="row my-3" >
                            <div class="col-md-12 reveal-4">
                                <label class="sr-only" for="email">Email</label>
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                                    </div>
                                    {{form_widget(form.email)}}
                                </div>
                                 <div class="text-left form-error">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="row my-3" >
                            <div class="col-md-12 reveal-4">
                                <label class="sr-only" for="telephone">Téléphone</label>
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-phone-alt"></i></div>
                                    </div>
                                    {{form_widget(form.telephone)}}
                                </div>
                                
                                 <div class="text-left form-error">
                                    {{ form_errors(form.telephone) }}
                                </div>
                            </div>
                        </div>
                        <div class="row my-3 ">
                            <div class="col-md-12 reveal-4">
                                <label class="sr-only" for="message">Message</label>
                                <div class="input-group mx-auto">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                                    </div>
                                    {{form_widget(form.message)}}
                                </div>
                                 <div class="text-left form-error">
                                    {{ form_errors(form.message) }}
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mb-5">
                            <button type="submit" class="mx-auto btn btn-primary btn-block">Envoyer</button>
                        </div>
                        {{form_end(form)}}
                    
                </div>
            </div>
                
            </div>
        </div>
    </div>
    <!-- Fin Section contact-->

    <!-- Section Footer-->
    <div class="footer">
        <div class="container">
            <div class="row text-center align-items-center">
                <div class="col-md-6 mt-3">
                    <div class="">
                        <a class="btn mx-1" title="instagram" href="https://instagram.com/bee_digital_?igshid=1ttyw22eq89sr"><i class="fab fa-instagram"></i></a>
                        <a class="btn mx-1" title="facebook" href="https://m.facebook.com/Bee-Digital-Tech-112739153766211/?ref=bookmarks"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn mx-1" title="linkedin" href="https://www.linkedin.com/in/bee-digital-tech-8a056a201"><i class="fab fa-linkedin"></i></a>
                        <a class="btn mx-1" title="twitter" href="https://mobile.twitter.com/BeeDigital2019"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-6 mt-3 mb-3 ">
                    <h5>Copyright © Bee Digital 2019 - 2020</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
